body{
    display: flex;
    flex-wrap: wrap;
}
h1{
    flex-basis: 100%;
    flex-grow: 1;
    text-align: center;

}
nav{
    flex-basis: 20%;
    flex-grow: 0;
    background-color: darkseagreen;
    height: 70em;
  
    padding-top: 10%;
}
ul{
    list-style: none;
}

form{
    flex-basis: 60%;
    flex-grow: 1;
    padding-left: 2%;
    padding-top: 2%;
}
.bouton {
    position:absolute;
    right:100;
    bottom:100;
}

table {
    flex-basis: 50%;
    flex-grow: 1;
    height: 40%;
    margin-left: 1%;
    margin-top: 1%;
    

    border-collapse: collapse;
    border: 1px solid black;
  }

th{
    background-color: gray;

}

td{
    
    background-color: lightgray;
}
td, th{
    border:1px solid black;
    text-align: center;
    padding: 1%;
}
